@import url("https://fonts.googleapis.com/css2?family=Pangolin&display=swap");
* {
  text-decoration: none;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

h1 {
  color: #9d0b51;
}

section {
  padding-top: 5rem;
}

body {
  margin: 0;
  padding: 0px;
  font-family: "Pangolin", cursive;
}

/* AWAL NAV */
.wrapper {
  width: 1100px;
  margin: auto;
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  position: relative;
}

.logo a {
  font-size: 40px;
  font-weight: 40px;
  position: relative;
  float: left;
  color: #9d0b51;
  transition: all 0, 5s ease;
}

@media only screen and (max-width: 760px) {
  .logo a {
    font-size: 27px;
  }
}

@media only screen and (max-width: 390px) {
  .logo a {
    font-size: 20px;
  }
}

.logo a:hover {
  color: #9d0b51;
  transform: scale(0.5);
}

.menu {
  float: right;
}

nav {
  width: 100%;
  margin: auto;
  display: flex;
  line-height: 80px;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background: transparent;
  z-index: 1;
  border-bottom: 1px solid #1ecedb;
  background-color: #1ecedb;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav ul li {
  float: left;
}

nav ul li a {
  color: #9d0b51;
  font-weight: bold;
  text-align: center;
  padding: 0px 16px 0px 16px;
  text-decoration: none;
  transition: all 0.5s ease 0s;
  display: inline-block;
}

nav ul li a:hover {
  color: #9d0b51;
  transform: scale(0.5);
}
/* AKHIR NAV */
/* AWAL HEADER */
.jam {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  height: 20vh;
  justify-content: center;
}

.clock {
  display: flex;
}

.clock div {
  margin: 5px;
  position: relative;
}

.clock span {
  width: 100px;
  height: 80px;
  opacity: 0.8;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  background-color: #1ecedb;
  color: #9d0b51;
}

.clock .text {
  height: 30px;
  font-size: 20px;
  text-transform: uppercase;
  opacity: 0.8;
  background-color: #0abfcc;
  color: #9d0b51;
}

.clock #ampm {
  bottom: 0;
  position: absolute;
}

.profile {
  margin-top: -0px;
  text-align: center;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease;
  cursor: pointer;
}

.profile :hover {
  transform: scale(1.3);
}

.social-menu {
  justify-content: center;
  bottom: 40px;
  text-align: center;
  display: flex;
  gap: 1rem;
}

.social-menu a {
  display: inline-flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid #000000;
  border-radius: 50%;
  outline: 2px solid#fff;
  font-size: 30px;
  color: #000000;
  text-decoration: none;
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}

.social-menu a:hover {
  transform: scale(1.5);
  color: #000;
  outline-offset: 7px;
  outline-color: #1ecedb;
}

.social-menu a::before {
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  width: 0%;
  height: 100%;
  background: #1ecedb;
  z-index: -1;
  transition: 0.5s;
  transform: rotate(45deg);
  right: -110%;
  top: 90%;
}

.social-menu a:hover::before {
  animation: subs 0.9s 1;
  top: -0%;
  right: -10%;
  width: 100%;
}

@keyframes subs {
  0% {
    right: -110%;
    top: 90%;
  }
  50% {
    right: 10%;
    top: 30%;
  }
  100% {
    top: -50%;
    right: -10%;
  }
}
/* AKHIR HEADER */
/* AWAL CONTENT */
content {
  font-size: 20px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.content span {
  font-weight: bold;
  font-size: 20px;
}

.content img {
  height: auto;
  width: 400px;
  max-width: 100%;
}

@media only screen and (max-width: 400px) {
  .content-img {
    width: 200px;
  }
}

.contents {
  padding: 0px 30px;
}

.contents .box {
  position: relative;
  padding: 20px;
  border: 1px solid #1ecedb;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  transition: all 0.4s;
  margin-bottom: 20px;
}

.contents .box:hover {
  box-shadow: 0px 3px 12px 0px #8a3534;
  border: 1px solid transparent;
}

.box h4 {
  position: relative;
  color: #9d0b51;
}

.conten p {
  text-align: center;
  margin-left: 1%;
  font-size: 20px;
}

.conten span {
  font-weight: bold;
  font-size: 20px;
}

#photo {
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #000000;
}

.photo img {
  width: 300px;
  height: 300px;
  border: 2px solid #1ecedb;
  border-radius: 13px;
  cursor: pointer;
  margin: 10px;
  transition: 400ms;
  justify-content: center;
  align-items: center;
}

.photo img:hover {
  filter: grayscale(1);
  transform: scale(1.03);
  flex: 5;
}
/* AKHIR CONTENT */
.footer {
  text-align: center;
  background: #1ecedb;
}
