* {
  text-decoration: none;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0px;
  font-family: "Rock Salt", cursive;
}

.spinner {
  --size: 15px;
  --first-block-clr: #005bba;
  --second-block-clr: #fe0000;
  --clr: #111;
  width: 30px;
  height: 30px;
  float: left;
  position: relative;
}

.spinner::after,
.spinner::before {
  box-sizing: border-box;
  position: absolute;
  content: "";
  width: var(--size);
  height: var(--size);
  top: 50%;
  animation: up 2.4s cubic-bezier(0, 0, 0.24, 1.21) infinite;
  left: 50%;
  background: var(--first-block-clr);
}

.spinner::after {
  background: var(--second-block-clr);
  top: calc(50% - var(--size));
  left: calc(50% - var(--size));
  animation: down 2.4s cubic-bezier(0, 0, 0.24, 1.21) infinite;
}

@keyframes down {
  0%,
  100% {
    transform: none;
  }

  25% {
    transform: translateX(100%);
  }

  50% {
    transform: translateX(100%) translateY(100%);
  }

  75% {
    transform: translateY(100%);
  }
}

@keyframes up {
  0%,
  100% {
    transform: none;
  }

  25% {
    transform: translateX(-100%);
  }

  50% {
    transform: translateX(-100%) translateY(-100%);
  }

  75% {
    transform: translateY(-100%);
  }
}

.wrapper {
  width: 1100px;
  margin: auto;
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  position: relative;
}

.logo a {
  font-size: 40px;
  font-weight: 40px;
  position: relative;
  float: left;
  color: #000000;
  transition: all 0, 5s ease;
}

.logo a:hover {
  color: rgb(255, 0, 0);
  transform: scale(0.5);
}

.menu {
  float: right;
}

nav {
  width: 100%;
  margin: auto;
  display: flex;
  line-height: 80px;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background: transparent;
  z-index: 1;
  border-bottom: 1px solid #000;
  background-color: #f7fd04;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav ul li {
  float: left;
}

nav ul li a {
  color: #000;
  font-weight: bold;
  text-align: center;
  padding: 0px 16px 0px 16px;
  text-decoration: none;
  transition: all 0.5s ease 0s;
  display: inline-block;
}

nav ul li a:hover {
  color: rgb(255, 0, 0);
  transform: scale(0.5);
}

.kolom-1 {
  height: 100vh;
  text-align: center;
  width: 50;
  background: url(img/3.png) no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  font-family: "Aboreto", cursive;
}

.kolom-1 {
  text-align: center;
  color: #f7fd04;
  font-size: 30px;
}

.kolom-22 {
  text-align: center;
  background: url(img/03.png) no-repeat;
  background-position: center;
  background-size: cover;
  color: #000000;
}

.photo p {
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #000000;
  font-size: 15px;
  background: url(img/ph.png) no-repeat;
  background-position: center;
  background-size: cover;
}

.photo {
  text-align: center;
}

.photo img {
  width: 300px;
  height: 300px;
  border: 2px solid #f7fd04;
  border-radius: 13px;
  cursor: pointer;
  margin: 10px;
  transition: 400ms;
  justify-content: center;
  align-items: center;
}

.photo img:hover {
  filter: grayscale(1);
  transform: scale(1.03);
  flex: 5;
}

.deskripsi {
  text-align: center;
  width: 50;
}

.footer {
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

.footer-section {
  width: 20%;
  margin: 0 auto;
}

h5 {
  font-weight: 50;
  font-size: 20px;
  color: rgb(0, 0, 0);
  text-align: center;
  background-color: #f7fd04;
}

.social-menu {
  justify-content: center;
  bottom: 40px;
  text-align: center;
  display: flex;
  gap: 1rem;
  background-color: #f7fd04;
}

.social-menu a {
  display: inline-flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid #000000;
  border-radius: 50%;
  font-size: 30px;
  color: #000000;
  text-decoration: none;
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}

.social-menu a:hover {
  color: #000;
}

.social-menu a::before {
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  width: 0%;
  height: 100%;
  background: #ff0000;
  z-index: -1;
  transition: 0.5s;
}

.social-menu a:hover::before {
  width: 100%;
}

@media screen and (max-width: 991.98px) {
  .wrapper {
    width: 90;
  }

  .logo a {
    display: block;
    width: 100%;
    text-align: center;
  }

  nav menu {
    width: 100;
    margin: 0;
  }

  nav .menu ul {
    text-align: center;
    margin: auto;
    line-height: 60px;
  }

  nav .menu ul li {
    display: inline-block;
    float: none;
  }

  deskripsi {
    display: block;
  }

  section {
    display: block;
  }

  section img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.rating {
  cursor: pointer;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 16, 0.19),
    0 0.3rem 0.3rem rgba(0, 0, 16, 0.23);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 16, 0.19),
    0 0.3rem 0.3rem rgba(0, 0, 16, 0.23);
  background-color: rgb(255, 255, 255);
  padding: 0.8rem;
  width: 33rem;
}

.rating-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0.4rem 0.8rem;
  width: 100%;
}

.rating {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 0.4rem 0.4rem 0.1rem 0.4rem;
  border-radius: 2.2rem;
}

.rating-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.svg {
  fill: rgb(242, 242, 242);
  height: 3.6rem;
  width: 3.6rem;
  margin: 0.2rem;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.rating-form-2 svg {
  height: 3rem;
  width: 3rem;
  margin: 0.5rem;
}

#radios label {
  position: relative;
}

.super-happy,
[type="radio"] {
  position: absolute;
  opacity: 0;
}

.input,
[type="radio"] + svg {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.super-happy[class="super-happy"]:hover + svg,
.super-happy[class="super-happy"]:checked + svg,
.super-happy[class="super-happy"]:focus + svg {
  fill: rgb(0, 204, 79);
  transition: 1.5s;
}

.neutral[class="neutral"]:hover + svg,
.neutral[class="neutral"]:checked + svg,
.neutral[class="neutral"]:focus + svg {
  fill: rgb(232, 214, 0);
  transition: 1.5s;
}

.super-sad[class="super-sad"]:hover + svg,
.super-sad[class="super-sad"]:checked + svg,
.super-sad[class="super-sad"]:focus + svg {
  fill: rgb(239, 42, 16);
  transition: 1.5s;
}
